@include b(footer) {
        @include flex;
        @include flex-direction(column);
        width: 100%;
        margin: 0 auto;
        background: #333333;
    
    @include e(container) {
        width: 100%;
        max-width: 1150px;
        margin: 70px auto;
    }

    @include e(mail) {
        margin-left: 140px;
        letter-spacing: 0.12em;

        @include m(title) {
            font-size: 20px;
            font-family: 'Gotham Pro Bold';
            margin-bottom: 17px;
            color: #FFFFFF;
        }
        @include m(elem) {
            font-size: 32px;
            font-family: 'gothapromed';
            text-decoration: none;
            color: #7E92B8;
        }
    }

    @include e(line) {
        width: 100%;
        height: 0;
        border: 1px solid #5c5c5c;
    }
    
    @include e(info) {
        @include flex-direction(column);
    }
    
    @include e(social) {
        text-align: center;
        @include flex-direction(row);
        @include m(icon) {
            margin-right: 18px;
            list-style: none;
            color: #DAE4F8;

            &:hover {
                color: #7E92B8;
            }
        }
    }
}
@include b(info) {
    @include flex-direction(row);
    margin-left: 140px;
    margin-bottom: 125px;
}