@include b(info) {
    @include flex;
    @include flex-direction(row);


    @include e(col) {
        @include flex;
        @include flex-direction(column);
        width: 170px;
        margin-right: 100px;
        margin-top: 0px;


        @include m(title) {
            margin: 0 0 20px 0;
            font-size: 20px;
            font-family: 'Gotham Pro Medium';

            letter-spacing: 0.12em;
            color: #7e92b8;
            text-decoration: none;

        }

        @include m(text) {
            margin: 0;
            font-size: 14px;
            list-style: none;
            line-height: 1.5em;
            color: #777777;
            text-decoration: none;

        } 
    }
}