@include b(layout) {
    @include flex;
    @include flex-direction(column);
    @include flex-align(left, top);
    min-width: calc(1150px + 290px);
    background: #e5e5e5;

    @include e(header) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }

    @include e(section1) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section2) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section3) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section4) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section4-qt) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section4-2-qt) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section4-abi) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section5) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
    @include e(section6) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }

    @include e(footer) {
        flex: 0 0 auto;
        width: 100%;
        margin: 0 auto;
    }
}