@include b(left-panel) {
    float: left;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    // transform-origin: 0 0;
    transform: rotate(-90deg);
    height: 18px;
    margin-top: 243px;
    margin-left: -120px;
    
    @include e(item) {
        margin-right: 48px;
        font-size: 14px;
        text-decoration: none;
        color: #222222;
        &:hover {
            width: 44px;
            height: 0px;
            padding-bottom: 4px;
            border-bottom: 2px solid #222222;
        }
    }
}
@include respond-to(desktop) {
    @include b(left-panel) {
        margin-top: 200px;
        margin-left: -130px;
    }
}//.desktop
@include respond-to(xlarge) {
    @include b(left-panel) {
        margin-left: -150px;
        @include e(item) {
            margin-right: 60px;
            font-size: 17px;
        }
    }
}//.xlarge
@include respond-to(xxlarge) {
    @include b(left-panel) {
        margin-left: -190px;
        @include e(item) {
            margin-right: 80px;
            font-size: 20px;
        }
    }
}//.xxlarge

@include b(abi) {
    .item2 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(brend) {
    .item3 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(gm) {
    .item2 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(logo) {
    .item3 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(main) {
    .item1 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(pack) {
    .item3 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(projects) {
    .item2 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(qt) {
    .item2 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(services) {
    .item3 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}
@include b(site) {
    .item3 {
        padding-bottom: 4px;
        border-bottom: 2px solid #222222;
    }
}