@include b(menu1) {
    float: left;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    // transform-origin: 0 0;
    transform: rotate(-90deg);
    height: 18px;
    margin-bottom: 243px;
    margin-left: -120px;
    
    @include e(item) {
        margin-right: 48px;
        text-decoration: none;
        font-size: 14px;
        color: #222222;

        &:hover {
            width: 44px;
            height: 0px;
            padding-bottom: 4px;
            border-bottom: 2px solid #222222;
        }
    }

}