@include respond-to(landscape) {
    @include b(section2-stages) {
        @include flex;
        @include flex-direction(column);
        width: auto;
        margin: 40px 60px;
        @include e(title) {
            margin: 30px 0;
            padding-left: 0; 
            font-size: 30px;
            background-color: transparent;
            color: #BDBDBD;
            @include m(big) {
                font-size: 40px;
                color: #000000;
                font-family: 'Gotham Pro Bold';
            }
            p {
                margin: 0;
            }
        }
    }
    @include b(stages) {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3vw;
        justify-content: space-around;
        overflow: none;
        width: 100%;
        margin: 0 auto;
        padding: 40px 0;
        background: #ffffff;
        @include e(row) {
            @include flex;
            @include flex-direction(row);
            width: 320px;
            height: 70px;
            margin: auto;
            background: none;
            border: 2px solid #DAE4F8;
            border-radius: 40px;
            @include m(numeral) {
                width: 10%;
                margin: auto auto auto 30px;
                padding: 10px 15px;
                float: left;
                font-size: 40px;
                text-align: center;
                color: #7E92B8;
                border: none;
            }
            @include m(text) {
                margin: auto;
                text-align: center;
                vertical-align: middle;
                line-height: 1em;
                white-space: normal;
                &:last-child {
                    flex-grow: 2;
                }        
            }
            @include m(title) {
                margin: 0;
                font-size: 30px;
                display: block;
            }
            @include m(elem) {
                display: none;
            }
            @include m(width) {
                width: auto;
            }
        }
    }
}//.landscape
@include respond-to(medium) {
    @include b(section2-stages) {
        margin: 30px 40px 20px;
        @include e(title) {
            margin: 20px 0;
            font-size: 24px;
            @include m(big) {
                font-size: 32px;
            }
        }
    }
    @include b(stages) {
        margin: 0 auto;
        @include e(row) {
            width: 260px;
            height: 60px;
            border-radius: 40px;
            @include m(numeral) {
                margin: auto auto auto 20px;
                font-size: 32px;
            }
            @include m(title) {
                font-size: 24px;
            }
        }
    }
}//.medium
@include respond-to(small) {
    @include b(section2-stages) {
        margin: 30px 30px 20px;
        @include e(title) {
            margin: 10px 0;
            font-size: 19px;
            @include m(big) {
                font-size: 25px;
            }
        }
    }
    @include b(stages) {
        margin: 0 auto;
        @include e(row) {
            width: 200px;
            height: 50px;
            border: 1px solid #DAE4F8;
            border-radius: 40px;
            @include m(numeral) {
                margin: auto auto auto 10px;
                font-size: 25px;
            }
            @include m(title) {
                font-size: 19px;
            }
        }
    }
}//.small
@include respond-to(xsmall) {
    @include b(section2-stages) {
        margin: 25px 16px 15px;
        @include e(title) {
            font-size: 12px;
            @include m(big) {
                font-size: 16px;
            }
        }
    }
    @include b(stages) {
        @include e(row) {
            width: 138px;
            height: 32px;
            border-radius: 16px;
            @include m(numeral) {
                margin: auto auto auto 0;
                font-size: 16px;
                line-height: 0.5em;
            }
            @include m(title) {
                font-size: 12px;
            }
        }
    }
}//.xsmall
@include respond-to(xxsmall) {
    @include b(stages) {
        @include e(row) {
            width: 90%;
            height: 32px;
            border-radius: 16px;
            @include m(numeral) {
                margin: auto auto auto 0;
                font-size: 12px;
                line-height: 0.5em;
            }
            @include m(text) {
                margin-left: -25px;
            }
            @include m(title) {
                font-size: 10px;
            }
        }
    }
}//.xxsmall