@include respond-to(landscape) {
    @include b(section1) {
        width: 100%;
        height: 40%;
        margin: 0 0 10px;
        z-index: 0;
        @include e(left-panel) {
            display: none;
        }
        @include e(img) {
            flex: 0 0 100%;
            width: 100%;
            height: 100%;
        }
        @include e(right-panel) {
            display: none;
        }
    }
    
    @include b(section1_causel) {
        width: 100%;
        height: 100%;
        div {
            width: 100%;
            height: 100%;
        }
        @include m(img1) {
            width: 100%;
            height: 100%;
        }
        .slick-prev {
            left: 50%;  
        }
        .slick-next {
            left: 55%;
        }
        .slick-prev, .slick-next {
            z-index: 999;
            top: 105%;
        }
    }
}

