@include respond-to(landscape) {
    @include b(section2) {
        width: auto;
        margin: 0 60px;
        padding: 0;
        @include e(text) {
            width: auto;
            margin: auto 60px;
            @include m(item1) {
                margin-top: 0;
                margin-bottom: 40px;
                font-size: 45px;
                font-family: 'Gotham Pro Medium';
            }
            @include m(item2) {
                font-size: 35px;
                color: #7E92B8;
            }
            @include m(item3) {
                font-size: 30px;
                white-space: normal;
            }
        }
        @include e(img) {
            @include m(img2) {
                height: 45vw;
            }
        }
    }
}//.landscape
@include respond-to(medium) {
    @include b(section2) {
        margin: 0 40px;
        padding-bottom: 0;
        @include e(text) {
            margin: auto 40px;
            @include m(item1) {
                margin-top: 40px;
                margin-bottom: 30px;
                font-size: 38px;
            }
            @include m(item2) {
                font-size: 28px;
            }
            @include m(item3) {
                font-size: 24px;
            }
        }
    }
}//.medium
@include respond-to(small) {
    @include b(section2) {
        margin: 0 30px;
        @include e(text) {
            margin: auto 30px;
            @include m(item1) {
                margin-top: 30px;
                margin-bottom: 20px;
                font-size: 30px;
            }
            @include m(item2) {
                font-size: 22px;
            }
            @include m(item3) {
                font-size: 19px;
                margin-bottom: 20px;
            }
        }
    }
}//.small
@include respond-to(xsmall) {
    @include b(section2) {
        margin: 0 16px;
        @include e(text) {
            margin: auto 16px;
            @include m(item1) {
                margin-top: 20px;
                margin-bottom: 16px;
                font-size: 21px;
            }
            @include m(item2) {
                font-size: 16px;
            }
            @include m(item3) {
                font-size: 14px;
                margin-bottom: 16px;
            }
        }
    }
}//.xsmall