@include b(mob-header-b) {
    width: 100%;
    height: 190px;
    @include e(container) {
        @include flex;
        @include flex-direction(row);
        justify-content: space-between;
        margin: 60px;
    }
    @include e(logo) {
        flex: 0 0 60px;
    }
    @include e(logo-src) {
        width: 60px;
        height: auto;
    }    
    @include e(menu) {
        flex: 0 0 60px;
        display: inline-block;
    }
    @include e(menu-btn) {
        display: block;
        float: right;
        border: none;
        background: transparent;
    }
    @include e(menu-elem) {
        width: 60px;
        height: auto;
    }
    @include e(menu-child) {
    position: relative;
    display: none;
    left: -65px;
    margin: 50px 0 0 0;
    padding: 20px;
    list-style: none;
    background: #ffffff;

        @include m(item) {
            display: block;
            margin: 0;
            padding: 10px;
            font-size: 28px;
            text-decoration: none;
            color: #222222;
            &:hover {
                border-bottom: 2px solid #222222;
            }
        }
    }
}    
@include b(mob-header-b-menu) {
    &:hover {
        .mob-header-b__menu-child {
            display: block;
        }
        cursor: pointer;
        .mob-header-b__menu-btn {
            outline: none;
        }
    }
}
@include respond-to(small) {
    @include b(mob-header-b) {
        @include e(container) {
            margin: 45px;
        }
        @include e(logo) {
            flex: 0 0 45px;
        }
        @include e(logo-src) {
            width: 45px;
        }    
        @include e(menu) {
            flex: 0 0 45px;
        }
        @include e(menu-elem) {
            width: 45px;
        }
        @include e(menu-child) {
            left: -50px;
            margin: 40px 0 0 0;
            padding: 15px;        
            @include m(item) {
                font-size: 22px;
                &:hover {
                    border-bottom: 2px solid #222222;
                }
            }
        }
    }
}//.xsmall
@include respond-to(xsmall) {
    @include b(mob-header-b) {
        @include e(container) {
            margin: 24px;
        }
        @include e(logo) {
            flex: 0 0 24px;
        }
        @include e(logo-src) {
            width: 24px;
        }    
        @include e(menu) {
            flex: 0 0 24px;
        }
        @include e(menu-elem) {
            width: 24px;
        }
        @include e(menu-child) {
            left: -30px;
            margin: 20px 0 0 0;
            padding: 10px;        
            @include m(item) {
                font-size: 14px;
                &:hover {
                    border-bottom: 1px solid #222222;
                }
            }
        }
    }
}//.xsmall