@include b(right-panel) {
    @include e(icon) {
        display: block;
        margin-left: 95px;
        margin-bottom: 24px;
        list-style: none;
        color: #777777;
        &:hover,
        &:focus {
            color:#222222;
        }
    }
    @include e(divider) {
        width: 0px;
        height: 341px;
        margin-left: 100px;
        margin-top: 4px;
        border-right: 3px solid #333333;
    }
}//.right-panel