@include b(section2) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 0 auto;
    padding-bottom: 20px;
    background: #FFFFFF;
    @include e(text) {
        flex: 0 0 auto;
        width: 714px;
        margin-left: 76px;
        @include m(item1) {
            margin-top: 68px;
            margin-bottom: 48px;
            font-size: 32px;
            font-family: 'Gotham Pro Black';
        }
        @include m(item2) {
            margin-bottom: 16px;
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
        }
        @include m(item3) {
            margin-bottom: 32px;
            font-size: 14px;
            line-height: 138.2%;
            white-space: pre-line;
        }
    }
    @include e(img) {
        flex: 1 1 auto;
        @include m(img2) {
            width: 100%;
            height: auto;
        }
    }
}

@include respond-to(large) {
    @include b(section2) {
        width: auto;
        margin: 0 145px;
    }
}//.large
@include respond-to(desktop) {
    @include b(section2) {
        width: auto;
        margin: 0 100px;
    }
}//.desktop
@include respond-to(xxlarge) {
    @include b(section2) {
        @include e(text) {
            width: 900px;
            @include m(item1) {
                font-size: 38px;
            }
            @include m(item2) {
                font-size: 29px;
            }
            @include m(item3) {
                font-size: 17px;
            }
        }
    }
}//.xxlarge