@include b(section5) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    background: #FFFFFF;

    @include e(text) {
        flex: 0 0 auto;
        width: 638px;
        margin-left: 76px;

        @include m(item1) {
            font-size: 24px;
            margin-top: 78px;
            margin-bottom: 16px;
            font-family: 'Gotham Pro Medium';
        }
        @include m(item2) {
            font-size: 14px;
            margin-bottom: 72px;
        }
    }
    @include e(button) {
        flex: 1 1 auto;
        @include flex;
        @include flex-direction(row);
        margin-bottom: 32px;
        margin-left: 76px;

        @include m(elem) {
            display: flex;
            height: 25px;
            margin-right: 16px;
            border: 1px solid #DAE4F8;
            border-radius: 16px;
            box-sizing: border-box;
            font-size: 12px;
            text-align: center;
            background-color: transparent;
            color: #7E92B8;
            
            span:first-child {
                border-right: 1px solid #DAE4F8;
                padding: 4px 8px;
            }
            span:last-child {
                padding: 5px 6px;
            }
        }
        
    }
    
}