@include b(section6) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 0 auto;

    @include e(container) {
        margin: 72px 318px 56px 76px;
    }

    @include e(title) {
        flex: 0 0 auto;

        @include m(item1) {
            margin: 0;
            font-size: 16px;
            font-family: 'Gotham Pro Medium';
            line-height: 20px;
            text-transform: uppercase;
            color: #7E92B8;
        }

        @include m(item2) {
            margin-top: 0;
            margin-bottom: 66px;
            font-size: 24px;
            line-height: 124.41%;
            color: #0C0C0C;
        }
    }

    @include e(form) {
        flex: 1 1 auto;
        @include flex;
        @include flex-direction(row);
        margin-bottom: 56px;

        @include m(elem) {
            width: 225px;
            margin-bottom: 32px;
            padding-bottom: 16px;
            border: 0;
            border-bottom: 1px solid #D1D1D6;
            background-color: transparent;
            color: #c3c3c3;

            &:focus {
                outline: 0;
                border-bottom: 1px solid #D1D1D6;
            }
        }
        
        @include m(elem1) {
            margin-right: 30px;
        }

        @include m(elem2) {
            margin-right: 30px;
        }

        @include m(elem4) {
            width: 100%;
        }

        @include m(button) {
            float: right;
            padding: 19px 25px;
            border: 1px solid #7E92B8;
            box-sizing: border-box;
            border-radius: 32px;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #7E92B8;
            background-color: transparent;

            &:hover,
            &:focus {
                color: #ffffff;
                background-color: #7E92B8;
            }
        }
    }
    
    
}