@include b(section1) {
    @include flex;
    @include flex-direction(row);
    width: 1440px;
    height: 557px;
    margin: 0 auto 72px;
    @include e(left-panel) {
        @include flex;
        flex: 0 0 145px;
        width: 145px;
    }
    @include e(img) {
        flex: 0 0 1150px;
        width: 1150px;
        height: 100%;
    }
    @include e(right-panel) {
        flex: 0 0 145px;
    }
}
@include b(section1_causel) {
    width: 100%;
    @include e(img) {
        height: 100%;
        div {
            width: 100%;
            height: 100%;
        }
        @include m(img1) {
            width: 100%;
            height: 100%;
        }
    }
    .slick-prev {
        left: 50%;  
    }
    .slick-next {
        left: 55%;
    }
    .slick-prev, .slick-next {
        z-index: 999;
        top: 105%;
    }
}
@include respond-to(large) {
    @include b(section1) {
        width: 100%;
    }
}
@include respond-to(desktop) {
    @include b(section1) {
        width: 100%;
        // height: 440px;
        margin: 0 auto 10px;
        @include e(left-panel) {
            flex: 0 0 100px;
            width: 100px;
        }   
        @include e(right-panel) {
            flex: 0 0 100px;
        }
    }    
}