@include b(section1) {
    @include flex;
    @include flex-direction(row);
    width: 1440px;
    height: 557px;
    margin: 0 auto 72px;
    overflow: hidden;
    @include e(left-panel) {
        @include flex;
        flex: 0 0 145px;
        width: 145px;
    }
    @include e(img) {
        flex: 1 1 auto;
        height: 100%;
        @include m(img1) {
            width: 100%;
            height: 100%;
        }
    }
    @include e(right-panel) {
        flex: 0 0 145px;
    }
}
@include respond-to(large) {
    @include b(section1) {
        width: 100%;
    }
}
@include respond-to(desktop) {
    @include b(section1) {
        width: 100%;
        height: 440px;
        margin: 0 auto 50px;
        @include e(left-panel) {
            flex: 0 0 100px;
            width: 100px;
        }   
        @include e(right-panel) {
            flex: 0 0 100px;
        }
    }    
}