@include b(section2) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 52px auto 0;
    background: #FFFFFF;

    @include e(text) {
        flex: 0 0 auto;
        width: 714px;
        margin-left: 76px;

        @include m(item1) {
            margin-top: 68px;
            margin-bottom: 48px;
            font-size: 32px;
            font-family: 'gothaprobla';
        }
        @include m(item2) {
            margin-bottom: 16px;
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
        }
        @include m(item3) {
            margin-bottom: 32px;
            font-size: 14px;
        }
    }
    @include e(img) {
        flex: 1 1 auto;
        background: #160f32;

        @include m(img2) {
            width: 1150px;
            height: auto;
        }
    }
    
    
}