@include b(projects-pointer) {
    @include flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    width: 200px;
    height: 30px;
    margin: -50px auto 0;
    align-self: center;
    @include e(elem) {
        width: 30px;
        border: 1px solid #ffffff;
        border-radius: 30px;
        &:hover {
            cursor: pointer;
            background: #ffffff;
        }
    }
}
@include respond-to(landscape) {
    @include b(projects) {
        .section1__img {
            height: 525px;
        }
        .layout--img-desktop {
            display: none;
        }
        .layout--img-mob {
            display: block;
        }
    
    }    
}
@include respond-to(medium) {
    @include b(projects) {
        .section1__img {
            height: 415px;
        }
    }
    @include b(projects-pointer) {
        width: 180px;
        height: 25px;
        margin: -40px auto 0;
        @include e(elem) {
            width: 25px;
            border-radius: 25px;
        }
    }
}
@include respond-to(small) {
    @include b(projects) {
        .section1__img {
            height: 325px;
        }
    }
    @include b(projects-pointer) {
        width: 150px;
        height: 20px;
        margin: -30px auto 0;
        @include e(elem) {
            width: 20px;
            border-radius: 20px;
        }
    }
}
@include respond-to(xsmall) {
    @include b(projects) {
        .section1__img {
            height: 210px;
        }
    }
    @include b(projects-pointer) {
        width: 80px;
        height: 10px;
        margin: -20px auto 0;
        @include e(elem) {
            width: 10px;
            border-radius: 10px;
        }
    } 
}