@include respond-to(landscape) {
    @include b(section2-projects) {
        @include flex-direction(column);
        width: auto;
        margin: 0 60px;
        @include e(title) {
            font-family: 'Gotham Pro Bold';
            margin-bottom: 30px;            
            font-size: 64px;
        }
    }
    @include b(latest-rows) {
        @include flex-direction(column);
        overflow: auto;
        width: 100%;
        @include e(row) {
            width: 100%;
            height: auto;
            margin-right: 0;
            margin-bottom: 40px;
            img {
                width: 100%;
                height: 60vw;
                // height: 510px;
                margin-bottom: 20px;
            }
            @include m(text) {
                margin-left: 60px;
                margin-bottom: 20px;
                font-size: 32px;
            }
            @include m(title) {
                font-size: 43px;
            }
        }
    }    
}//.landsape
@include respond-to(medium) {
    @include b(section2-projects) {
        margin: 0 40px;
        @include e(title) {
            font-size: 48px;
        }
    }
    @include b(latest-rows) {
        @include e(row) {
            margin-bottom: 25px;
            img {
                // height: 400px;
            }
            @include m(text) {
                margin-left: 35px;
                font-size: 24px;
            }
            @include m(title) {
                font-size: 32px;
            }
        }
    }    
}//.medium
@include respond-to(small) {
    @include b(section2-projects) {
        margin: 0 30px;
        @include e(title) {
            margin-bottom: 20px;       
            font-size: 38px;
        }
    }
    @include b(latest-rows) {
        @include e(row) {
            margin-bottom: 25px;
            img {
                // height: 310px;
                margin-bottom: 10px;
            }
            @include m(text) {
                margin-left: 35px;
                margin-bottom: 20px;
                font-size: 19px;
            }
            @include m(title) {
                font-size: 25px;
            }
        }
    }    
}//.small
@include respond-to(xsmall) {
    @include b(section2-projects) {
        margin: 0 16px;
        @include e(title) {
            font-size: 24px;
        }
    }
    @include b(latest-rows) {
        @include e(row) {
            margin-bottom: 16px;
            img {
                // height: 240px;
            }
            @include m(text) {
                margin-left: 20px;
                margin-bottom: 16px;
                font-size: 12px;
            }
            @include m(title) {
                font-size: 16px;
            }
        }
    }    
}//.xsmall
@include respond-to(xxsmall) {
    @include b(latest-rows) {
        @include e(row) {
            img {
                // height: 185px;
            }
        }
    }    
}//.xsmall
