@include respond-to(landscape) {
    @include b(section3-projects) {
        width: auto;
        margin: 0 60px 20px;
        @include e(title) {
            font-size: 60px;
            margin-bottom:0;
            font-family: 'Gotham PRo BOld';
            p {
                line-height: 0;
            }
        }   
        @include e(items) {
            margin-bottom: 30px;
        }
    }
    @include b(item) {
        @include e(left) {
            height: 330px;
            @include m(img) {
            }
        }
        @include e(right) {
            @include m(inner) {
                margin: auto 40px auto 32px; 
            }
            @include m(text) {
                height: auto;
                margin-top: 10px;
                p {
                    margin-top: 0;
                    font-size: 19px;
                    line-height: 1em;
                }
            }
            @include m(title) {
                display: none;
            }
            @include m(open) {
                display: none;
            }    
        }
    }
    @include b(section3-projects-button) {
        margin: 40px auto 60px;
        font-size: 40px;
        font-family: 'Gotham Pro Medium';
        color: #7E92B8;
    }
}//.landscape
@include respond-to(medium) {
    @include b(section3-projects) {
        margin: 0 40px 20px;
        @include e(title) {
            font-size: 50px;
        }   
        @include e(items) {
            margin-bottom: 25px;
        }
    }
    @include b(item) {
        @include e(left) {
            height: 260px;
        }
        @include e(right) {
            @include m(inner) {
                margin: auto 30px auto 22px; 
            }
            @include m(text) {
                p {
                    font-size: 15px;
                }
            }
        }
    }
    @include b(section3-projects-button) {
        margin: 30px auto 50px;
        font-size: 32px;
    }
}//.medium
@include respond-to(small) {
    @include b(section3-projects) {
        margin: 0 30px 20px;
        @include e(title) {
            font-size: 40px;
        }   
        @include e(items) {
            margin-bottom: 25px;
        }
    }
    @include b(item) {
        @include e(left) {
            height: 205px;
        }
        @include e(right) {
            @include m(inner) {
                margin: auto 15px auto 15px; 
            }
            @include m(text) {
                p {
                    font-size: 12px;
                }
            }
        }
    }
    @include b(section3-projects-button) {
        margin: 30px auto 40px;
        font-size: 25px;
    }
}//.small
@include respond-to(xsmall) {
    @include b(section3-projects) {
        margin: 0 16px;
        @include e(title) {
            font-size: 29px;
        }   
        @include e(items) {
            margin-bottom: 16px;
        }
    }
    @include b(item) {
        @include e(left) {
            height: 150px;
        }
        @include e(right) {
            @include m(inner) {
                margin: auto 8px; 
            }
            @include m(text) {
                margin-top: 8px;
                p {
                    font-size: 9px;
                }
            }
        }
    }
    @include b(section3-projects-button) {
        margin: 16px auto 25px;
        font-size: 18px;
    }
}//.xsmall