@include b(section2-projects) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    max-width: 1150px;
    margin: 0 auto 72px;
    background: #e5e5e5;
    @include e(title) {
        flex: 0 0 auto;
        margin-bottom: 8px;         
        font-size: 32px;
        font-family: 'Gotham Pro Black';
        line-height: 0em;
    }
}
@include b(latest-rows) {
    @include flex;
    @include flex-direction(row);
    justify-content: space-between;    
    overflow: hidden;

    @include e(row) {
        width: 367px;
        height: 423px;
        margin-right: 24px;
        background: #ffffff;

        img {
            width: 367px;
            height: 314px;
            margin-bottom: 20px;
        }
    
        @include m(text) {
            height: auto;
            margin-left: 24px;
        }
        @include m(title) {
            font-size: 18px;
            font-family: 'Gotham Pro Medium';
            line-height: 0;
        }
    }
}
@include respond-to(large) {
    @include b(section2-projects) {
        width: auto;
        margin: 0 145px 72px;
    }
}
@include respond-to(desktop) {
    @include b(section2-projects) {
        width: auto;
        margin: 0 100px 50px;
    }
    @include b(latest-rows) {
        @include e(row) {
            width: 300px;
            height: 365px;
            img {
                width: 300px;
                height: 256px;
            }
        }
    }    
}
@include respond-to(xxlarge) {
    @include b(section2-projects) {
        @include e(title) {
            margin-bottom: 20px;         
            font-size: 38px;
        }
    }
    @include b(latest-rows) {
        @include e(row) {
            height: 423px;
            img {
                margin-bottom: 20px;
            }
            @include m(text) {
                margin-left: 30px;
            }
            @include m(title) {
                font-size: 21px;
                margin-bottom: 25px;
            }
        }
    }    
}
