@include b(section3-projects) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 0 auto 60px;
    background: #e5e5e5;
    @include e(title) {
        flex: 0 0 auto;
        margin-bottom: 12px;
        font-size: 32px;
        font-family: 'Gotham Pro Black';
        line-height: 0em; 
    }
    @include e(items) {
        flex: 1 1 auto;
        background: #ffffff;
        margin-bottom: 56px;
    }
}//.section3-projects
@include b(item) {
    @include flex;
    @include flex-direction(row);
    width: 100%;
    @include e(left) {
        width: 50%;
        @include m(img) {
            width: 100%;
            height: 100%;
        }
        a {
            width: 100%;
            height: 100%;
        }
    }
    @include e(right) {
        @include flex;
        @include flex-direction(column);
        width: 50%;
        @include m(inner) {
            margin: 30px 160px 70px 55px;
        }
        @include m(text) {
            height: 300px;
            margin-top: 32px;
            p {
                line-height: 138.2%;
            }
        }
        @include m(title) {
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
            line-height: 1em;
        }
        @include m(open) {
            text-decoration: none;
            font-size: 16px;
            font-family: 'Gotham Pro Bold';
            text-transform: uppercase;
            color: #7E92B8;
        }    
    }
}
@include b(items-open) {
    @include flex-direction(column);
    display: none;
}
@include b(section3-projects-button) {
    width: 100%;
    text-decoration: none;
    margin: 30px auto 0;
    font-size: 16px;
    font-family: 'Gotham Pro Bold';
    text-transform: uppercase;
    line-height: 0;
    background-color: transparent;
    color: #686868;
    box-sizing: border-box;
    outline: none;
    border: none;
}
@include b(section3-projects-other) {
}
@include respond-to(large) {
    @include b(section3-projects) {
        width: auto;
        margin: 0 145px 40px;
    }
}//.large
@include respond-to(desktop) {
    @include b(section3-projects) {
        margin: 0 100px 40px;
    }   
    @include b(section3-projects-button) {
    }
    @include b(item) {
        @include e(right) {
            @include m(text) {
                height: 230px;
            }
            @include m(inner) {
                margin: 30px 60px 70px 55px;
            }    
        }
    }
    @include b(section3-projects-other) {
        margin: 0 auto ;
    }    
}//.desktop

@include respond-to(xxlarge) {
    @include b(section3-projects) {
        @include e(title) {
            margin-bottom: 20px;
            font-size: 38px;
        }
    }//.section3-projects
    @include b(item) {
        @include e(right) {
            @include m(inner) {
                margin: 32px 140px 69px 56px;
            }
            @include m(text) {
                height: 300px;
                margin-top: 32px;
                p {
                    line-height: 138.2%;
                }
            }
            @include m(title) {
                font-size: 28px;
            }
            @include m(open) {
                font-size: 19px;
            }    
        }
    }
    @include b(section3-projects-button) {
        font-size: 19px;
    }
    @include b(section3-projects-other) {
        margin: 0 auto;
    }    

}
