@include b(section3-projects) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 72px auto 0 auto;
    background: #e5e5e5;

    @include e(title) {
        flex: 0 0 auto;
        margin-bottom: 12px;
        font-size: 32px;
        font-family: 'Gotham Pro Black';
        line-height: 0em; 
    }
    
    @include e(items) {
        flex: 1 1 auto;
        background: #ffffff;
        margin-bottom: 56px;
    }

    @include e(button) {
        width: 200px;
        margin: 70px auto 60px;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Gotham Pro Bold';
        text-transform: uppercase;
        line-height: 125.7%;
        background-color: transparent;
        color: #686868;
        box-sizing: border-box;
        outline: none;
        border: none;

        &:active,
        &:focus {
            items-open {
                display: block;
            }
        }
    }

}

@include b(item) {
    @include flex;
    @include flex-direction(row);
    width: 100%;

    @include e(left) {
        width: 575px;
        height: 492px;        

        @include m(img) {
            width: 100%;
            height: 100%;
        }
    }
    
    @include e(right) {
        @include flex;
        @include flex-direction(column);
        margin-left: 56px;
        margin-bottom: 69px;

        @include m(text) {
            width: 357px;
            height: 373px;
            margin-top: 32px;

            p {
                line-height: 138.2%;
            }
        }

        @include m(title) {
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
            line-height: 1em;
        }
        @include m(open) {
            text-decoration: none;
            font-size: 16px;
            font-family: 'Gotham Pro Bold';
            text-transform: uppercase;
            color: #7E92B8;

            &:active {
            // items-open {
            //     display: block;
            // }                   
            }
        }    
    }
}

@include b(items-open) {
    display: none;
}

