@include b(main-mob) {
    display: none;
}
@include b(main) {
    @include flex;
    @include flex-direction(row);
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: #ffffff;
    @include e(toggle) {
        @include flex;
        @include flex-direction(row);
        position: absolute;
        bottom: 40px;
        left: 50%;
        width: 230x;
        height: 35px;
        margin-left: -135px;;
        z-index: 1;
    }
    @include e(number) {
        display: block;
        float: right;
        height: 32px;
        margin: 0;
        margin-right: 80px;
        font-size: 32px;
        font-family: 'Gotham Pro Bold';
        color: #7E92B8;
    }
    @include e(arrow) {
        display: block;
        @include flex;
        @include flex-direction(row);
        justify-content: baseline;

        @include m(elem) {
            display: block;
            height: 24px;
            margin-right: 20px;
            padding: 8px 10px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 100%;    
            font-size: 18px;
            font-family: Arial;
            color:  rgba(255, 255, 255, 0.5);
            &:hover {
                cursor: pointer;
                border: 1px solid #ffffff;
                color:  #ffffff;
            }
        }
    }

    @include e(left-panel) {
        @include flex;
        position: absolute;
        left: 0;
        top: 118px;
        flex: 0 0 145px;
        width: 145px;
    }

    @include e(right-panel) {
        flex: 0 0 145px;
        position: absolute;
        right: 32px;
        top: 113px;
    }

    @include e(header) {
        position: absolute;
        top: 0;
    }

    .main--hide {
        display: none;
    }

    .main--color-d {
        border-right: 3px solid #ffffff;
    }
    .main--color {
        color: #ffffff;
        opacity: 0.7;

        &:hover {
            color:#ffffff;
            opacity: 1;
        }
    }
}

@include b(main-left) {
    width: 50%;
    height: 100%;
    float: left;

    @include e(title) {
        display: inline-block;
        padding-top: 200px;
        padding-left: 170px; 
        font-size: 80px;
        font-family: 'Gotham Pro Medium';
        line-height: 0;
        color: #222222;
    }
    @include e(text) {
        width: 350px;
        padding-left: 170px;    
        font-size: 24px;
        line-height: 125.7%;
        color: #7E92B8;
    }
    @include e(button) {
        margin-top: 113px;
        padding-left: 170px;
        margin-bottom: 200px;
        a {
            width: 185px;
            height: 56px;    
            display: block;
            padding-top: 18px;
            padding-left: 20px;
            text-decoration: none;
            font-size: 16px;
            box-sizing: border-box;
            color: #222222;
            border: 2px solid #7E92B8;
        }
    }
}
@include b(main-right) {
    width: 50%;
    height: 100%;
    float: right;

    @include e(img) {
        width: 100%;
        height: 100%;
    }
}

@include respond-to(desktop) {
    @include b(main-left) {
        @include e(title) {
            padding-top: 90px;
            padding-left: 100px;
            font-size: 75px;
        }
        @include e(text) {
            padding-left: 100px;
        }

        @include e(button) {
            margin-top: 100px;
            padding-left: 100px;
            margin-bottom: 200px;
        }
    }
    @include b(main) {
        @include e(right-panel) {
            top: 80px;
        }
    }
}