@include respond-to(landscape) {
    @include b(main-desktop) {
    display: none;
    }
    @include b(main-mob) {
        @include flex;
        @include flex-direction(column);
        position: relative;
        min-width: 100%;
        width: 100%;
        margin: 0 auto;
        background: #ffffff;
    }
    @include b(main-mob-top) {
        width: 100%;
        height: 50%;
    
        @include e(img) {
            width: 100%;
            height: 100%;
        }
    }
    @include b(main-mob-bottom) {
        width: 100%;
        height: 50%;
    
        @include e(title) {
            display: inline-block;
            margin-top: 20%;
            margin-left: 15%;
            font-size: 80px;
            font-family: 'Gotham Pro Medium';
            line-height: 0;
            color: #222222;
        }
        @include e(text) {
            width: 70%;
            margin-left: 15%;
            margin-top: 0;
            font-size: 30px;
            line-height: 125.7%;
            white-space: pre-line;
            color: #7E92B8;
        }
        @include e(button) {
            margin-top: 15%;
            margin-left: 15%;
            margin-bottom: 20%;
            
            a {
                width: 250px;
                height: 90px;    
                display: block;
                padding: 25px;
                text-align: center;
                text-decoration: none;
                font-size: 28px;
                box-sizing: border-box;
                color: #222222;
                border: 2px solid #7E92B8;
            }
        }
    }
    @include b(main-mob-pointer) {
        @include flex;
        justify-content: space-between;
        position: absolute;
        top: 43%;
        z-index: 2;
        width: 15%;
        height: 1%;;
        margin: 0 auto;
        align-self: center;
        @include e(elem) {
            width: 10%;
            border: 1px solid #ffffff;
            border-radius: 20px;
            &:hover {
                background: #ffffff;
            }
        }
    }
}

@include respond-to(small) {
    @include b(main-mob-bottom) {
        @include e(title) {
            margin-left: 10%;
            font-size: 60px;
        }
        @include e(text) {
            width: 80%;
            margin-left: 10%;
            font-size: 25px;
        }
        @include e(button) {
            margin-left: 10%;
            
            a {
                width: 220px;
                height: 75px;    
                padding: 20px;
                font-size: 22px;
            }
        }
    
    }
}
@include respond-to(xsmall) {
    @include b(main-mob-bottom) {
        @include e(title) {
            font-size: 48px;
        }
        @include e(text) {
            font-size: 16px;
        }
        @include e(button) {
            
            a {
                width: 130px;
                height: 50px;    
                padding: 15px;
                font-size: 14px;
            }
        }
    
    }
}
@include respond-to(xxsmall) {
    @include b(main-mob-bottom) {
        @include e(title) {
            font-size: 34px;
        }
    }
}