@include b(right-panel-main) {

    @include e(icon) {
        display: block;
        margin-left: 95px;
        margin-bottom: 24px;
        list-style: none;
        color: #ffffff;
        opacity: 0.7;

        &:hover,
        &:focus {
            color:#ffffff;
            opacity: 1;
        }
        
    }
    @include e(divider) {
        width: 0px;
        height: 341px;
        margin-left: 100px;
        margin-top: 4px;
        border-right: 3px solid #ffffff;
    }

}