@include respond-to(landscape) {
    @include b(rows) {
        @include e(row) {
            @include m(mob-img) {
                display: block;
            }
        }
    }
    @include b(section1-services) {
        width: auto;
        margin: auto 60px;
        @include e(left-panel) {
            display: none;
        }
        @include e(center) {
        }
        @include e(right-panel) {
            display: none;
        }
    }
    @include b(center) {
        width: 100%;
        @include e(title) {
            margin-bottom: 20px;
            margin-left: 30px; 
            @include m(big) {
                margin: 0;
                font-size: 64px;
            }
            @include m(little) {
                font-size: 37px;
                margin-bottom: 0;
                line-height: 125.7%;
                white-space: normal;
                color: #BDBDBD;
            }
        }
        @include e(rows) {
        }
        @include e(arrow) {
            display: none;
        }
    }
    @include b(rows) {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2vw;
        justify-content: space-around;
        overflow: none;
        width: 100%;
        margin: 40px auto;
        @include e(row) {
            @include flex;
            @include flex-direction(row);
            width: 90%;
            height: auto;
            margin-right: 1%;
            margin-bottom: 0;
            padding: 3%;
            background: #ffffff;
            @include m(img) {
                display: none;
            }
            @include m(mob-img) {
                width: 90px;
                height: 90px;
            }
            @include m(text) {
                margin-left: 10px;
                font-size: 20px;
                white-space: normal;
                color: #BDBDBD;
                p {
                    margin: 5px;
                }
            }
            @include m(title) {
                font-size: 25px;
                line-height: 1em;
                color: #222222;
            }
            @include m(title2) {
                display: none;
            }
            @include m(mob-title2) {
                display: block;
            }
            @include m(button) {
                display: none;
            }
        }
    }    
}//.landscape
@include respond-to(medium) {
    @include b(section1-services) {
        margin: auto 40px;
    }
    @include b(center) {
        @include e(title) {
            margin-bottom: 20px;
            margin-left: 35px; 
            @include m(big) {
                font-size: 48px;
            }
            @include m(little) {
                font-size: 28px;
            }
        }
    }
    @include b(rows) {
        grid-gap: 1vw;

        @include e(row) {
            // width: 200px;
            height: 70%;
            // margin-right: 15px;
            @include m(mob-img) {
                width: 70px;
                height: 70px;
            }
            @include m(text) {
                margin-left: 15px;
                font-size: 16px;
            }
            @include m(title) {
                font-size: 24px;
            }
        }
    }    
}//.medium
@include respond-to(small) {
    @include b(section1-services) {
        margin: auto 30px;
    }
    @include b(center) {
        @include e(title) {
            margin-bottom: 10px;
            margin-left: 35px; 
            @include m(big) {
                font-size: 38px;
            }
            @include m(little) {
                font-size: 22px;
            }
        }
    }
    @include b(rows) {
        @include e(row) {
            // width: 150px;
            height: 80%;
            // margin-right: 15px;
            @include m(mob-img) {
                width: 55px;
                height: 55px;
            }
            @include m(text) {
                height: auto;
                margin-left: 15px;
                font-size: 13px;
            }
            @include m(title) {
                font-size: 19px;
            }
        }
    }    
}//.small
@include respond-to(xsmall) {
    @include b(section1-services) {
        margin: 16px;
    }
    @include b(center) {
        @include e(title) {
            margin-bottom: 10px;
            margin-left: 24px; 
            @include m(big) {
                font-size: 24px;
            }
            @include m(little) {
                font-size: 14px;
            }
        }
    }
    @include b(rows) {
        @include flex-direction(column);
        align-items: center;
        text-align: center;
        margin: 0;
        @include e(row) {
            // width: 96px;
            // height: 106px;
            // margin-right: 8px;
            margin-bottom: 10px;
            a{
                margin: auto;
            }
            @include m(mob-img) {
                width: 50px;
                height: 50px;
                // margin: auto;
            }
            @include m(text) {
                margin-left: 8px;
                font-size: 11px;
            }
            @include m(title) {
                font-size: 15px;
            }
        }
    }    
}//.xsmall
@include respond-to(xlsmall) {
    @include b(section1-services) {
        margin: auto 16px 32px 16px;
    }
    @include b(center) {
        @include e(title) {
            margin-bottom: 10px;
            margin-left: 24px; 
            @include m(big) {
                font-size: 24px;
            }
            @include m(little) {
                font-size: 14px;
            }
        }
    }
    @include b(rows) {
        @include e(row) {
            @include flex-direction(column);
            @include m(mob-img) {
                width: 40px;
                height: 40px;
                // margin: auto;
            }
        }
    }    
}//.xlsmall
@include respond-to(xxsmall) {
    @include b(section1-services) {
        margin: 16px;
    }
    @include b(center) {
        @include e(title) {
            margin-bottom: 10px;
            margin-left: 24px; 
            @include m(big) {
                font-size: 24px;
            }
            @include m(little) {
                font-size: 14px;
            }
        }
    }
    @include b(rows) {
        @include flex-direction(column);
        align-items: center;
        text-align: center;
        @include e(row) {
            @include flex-direction(column);
            // width: 96px;
            // height: 106px;
            // margin-right: 8px;
            margin-bottom: 10px;
            a{
                margin: auto;
            }
            @include m(mob-img) {
                width: 40px;
                height: 40px;
                // margin: auto;
            }
            @include m(text) {
                margin-left: 8px;
                font-size: 10px;
            }
            @include m(title) {
                font-size: 13px;
            }
        }
    }    
}//.xxsmall