
@include b(rows-desktop) {
    display: block;
}
@include b(rows-mob) {
    display: none;
}

@include b(rows-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 100%;
    margin-bottom: 50px;
    .slick-slide {
        height: 460px;
    }
    @include e(row) {
        width: 324px;
        height: auto;
        margin-right: 32px;
        margin-bottom: 32px;
        background: #ffffff;
        @include m(mob-img) {
            display: none !important;
        }
        @include m(img) {
            width: 100%;
            height: 244px;
            margin-bottom: 32px;
        }
        @include m(text) {
            height: 110px;
            margin-left: 35px;
            margin-bottom: 20px;
            line-height: 125.7%;
            white-space: pre-line;
        }
        @include m(title) {
            margin: 0;
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
            line-height: 1em;
        }
        @include m(button) {
            margin-left: 35px;
            margin-bottom: 32px;
            font-size: 16px;
            font-family: 'Gotham Pro Bold';
            line-height: 1em;
            text-transform: uppercase;
            text-decoration: none;
            color: #7E92B8;
        }
    }
    .slick-prev {
        left: 90%;  
    }
    .slick-next {
        left: 95%;
    }
    .slick-prev, .slick-next {
        z-index: 999;
        top: 100%;
        &::before {
            width: 24px;
            height: 24px;
            padding: 5px 10px;
            border: 2px solid rgba(126, 146, 184, 0.5);  
            border-radius: 100%;    
            font-size: 18px;
            font-weight: bolder;
            color:  rgba(126, 146, 184, 0.5);
        }
    }
    .slick-prev:hover, .slick-next:hover {
        &::before {
            cursor: pointer;
            border: 2px solid #222222;    
            color:  #222222;
        }
    }

}
@include b(services) {
    .services--color {
        background-color: #ffffff;
    }
    .services--hide {
        display: none;
    }
}
@include b(section1-services) {
    @include flex;
    @include flex-direction(row);
    width: calc(1150px + 290px);
    margin: 0 auto;
    @include e(left-panel) {
        @include flex;
        flex: 0 0 145px;
        width: 145px;
    }
    @include e(center) {
        flex: 1 1 auto;
    }
    @include e(right-panel) {
        flex: 0 0 145px;
    }
}
@include b(center) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    background: #e5e5e5;
    @include e(title) {
        flex: 0 0 auto;
        margin-bottom: 20px;
        margin-left: 77px; 
        @include m(big) {
            font-size: 32px;
            font-family: 'Gotham Pro Black';
            line-height: 1em;
        }
        @include m(little) {
            font-size: 16px;
            line-height: 138.2%;
            white-space: pre-line;
        }
    }
    @include e(rows) {
        flex: 1 1 auto;
        overflow: hidden;
    }
}
@include respond-to(desktop) {
    @include b(section1-services) {
    
        width: 100%;
        .slick-slide {
            height: 430px;
        }
        @include e(left-panel) {
            @include flex;
            flex: 0 0 100px;
            width: 100px;
        }
        @include e(right-panel) {
            flex: 0 0 100px;
        }
    }
    @include b(center) {
        width: calc(100% - 200px);
    }
    @include b(rows-desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;    
        width: 100%;
        @include e(row) {
            width: 324px;
            // height: 400px;
            @include m(img) {
                // width: 300px;
                height: 226px;
                margin-bottom: 20px;
            }
        }
    }
}//.desktop
@include respond-to(large) {
    @include b(section1-services) {
        @include flex;
        @include flex-direction(row);
        width: 100%;
        margin: 0 auto;
    }
    @include b(center) {
        width: calc(100% - 290px);
    }    
}//.large
@include respond-to(xxlarge) {
    @include b(section1-services) {
        width: calc(1150px + 290px);
        .slick-slide {
            height: 480px;
        }    
    }
    @include b(center) {
        width: 1150px;
        @include e(title) {
            @include m(big) {
                font-size: 38px;
            }
        }
        @include e(arrow) {
            @include m(elem) {
                padding: 6px 10px;
                font-size: 21px;
            }
        }
    }
    @include b(rows-desktop) {
        @include e(row) {
            @include m(title) {
                font-size: 29px;
            }
            @include m(text) {
                margin-bottom: 30px;
            }
            @include m(button) {
                font-size: 19px;
            }
        }
    }    
}//.xxlarge