@include respond-to(landscape) {
    @include b(section1-logo) {
        width: auto;
        height: auto;
        margin: 0 60px;;
        @include e(left-panel) {
            display: none;
        }
        @include e(right-panel) {
            display: none;
        }
    }
    @include b(content) {
        width: 100%;
        @include e(title) {
            margin-top: 0;
            margin-bottom: 20px;
            margin-left: 30px;
            @include m(big) {
                font-size: 64px;
            }
            @include m(little) {
                font-size: 37px;
                line-height: 125.7%;
                white-space: normal;
                color: #BDBDBD;
            }
        }
        @include e(inner) {
            height: auto;
            background: none;
        }
        @include e(text) {
            display: none;
        }
        @include e(type) {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3vw;
            justify-content: space-around;
            overflow: none;
            width: 100%;
            height: 100%;
            margin-right: 0;
            margin: 0;
            // overflow: hidden;
        }
        @include e(elem1) {
            &:hover {
                background: url(../img/24.png);
            }
        }
        @include e(elem2) {
            &:hover {
                background: url(../img/26.png);
            }
        }
        @include e(elem3) {
            &:hover {
                background: url(../img/28.png);
            }
        }
        @include e(elem4) {
            &:hover {
                background: url(../img/30.png);
            }
        }
        @include e(elem) {
            width: 90%;
            height: 100%;
            margin: auto;
            border: none;
            text-align: center;
            line-height: 0;
            background-repeat: no-repeat;
            background-position: 80% 40%;
            background-size: 90% auto;
            background-color: #ffffff;
            border: 2px solid #7E92B8;
            &:hover {
                background-repeat: no-repeat;
                background-position: 80% 40%;
                background-size: 90% auto;
                background-color: #ffffff;     
            }
            @include m(text) {
                margin-top: 270px;
                font-size: 26px;
            }
        }
    }//.content    
}//.landscape
@include respond-to(medium) {
    @include b(section1-logo) {
        margin: 0 40px;
    }
    
    @include b(content) {
        // @include e(inner) {
        //     height: auto;
        // }
        @include e(title) {
            @include m(big) {
                font-size: 48px;
            }
            @include m(little) {
                font-size: 28px;
            }
        }
        // @include e(type) {
        //     height: 200px;
        // }
        @include e(elem) {
            // width: 200px;
            // height: 200px;
            // margin-right: 15px;
            @include m(text) {
                // width: 200px;
                margin-top: 200px;
                font-size: 19px;
            }
        }
    }
}//.medium
@include respond-to(small) {
    @include b(section1-logo) {
        margin: 0 30px;
    }
    @include b(content) {
        @include e(title) {
            margin-bottom: 10px;
            @include m(big) {
                font-size: 38px;
            }
            @include m(little) {
                font-size: 22px;
            }
        }
        // @include e(type) {
        //     height: 150px;
        // }
        @include e(elem) {
            // width: 150px;
            // height: 150px;
            // margin-right: 15px;
            @include m(text) {
                // width: 150px;
                margin-top: 160px;
                font-size: 18px;
            }
        }
    }
}//.small
@include respond-to(xsmall) {
    @include b(section1-logo) {
        margin: 0 16px;
    }
    @include b(content) {
        @include e(title) {
            @include m(big) {
                font-size: 24px;
            }
            @include m(little) {
                font-size: 17px;
            }
        }
        // @include e(type) {
        //     height: 96px;
        //     margin-bottom: 0;
        // }
        @include e(elem) {
            // width: 96px;
            // height: 96px;
            // margin-right: 8px;
            @include m(text) {
                // width: 96px;
                margin-top: 120px;
                font-size: 12px;
            }
        }
    }
}//.xsmall
@include respond-to(xxsmall) {
    @include b(section1-logo) {
        margin: 0 10px;
    }
    @include b(content) {
        @include e(title) {
            @include m(big) {
                font-size: 24px;
            }
            @include m(little) {
                font-size: 17px;
            }
        }
        // @include e(type) {
        //     height: 96px;
        //     margin-bottom: 0;
        // }
        @include e(elem) {
            // width: 96px;
            // height: 96px;
            // margin-right: 8px;
            @include m(text) {
                // width: 96px;
                margin-top: 100px;
                font-size: 9px;
            }
        }
    }
}//.xxsmall