@include b(section2-logo) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 72px auto 32px auto;
    background: #e5e5e5;

    @include e(title) {
        flex: 0 0 auto;
        margin-bottom: 8px;
        padding-left: 77px; 
        font-size: 16px;

        @include m(big) {
            font-size: 32px;
            font-family: 'Gotham Pro Black';
            line-height: 0em;
        }

    }
    
    @include e(stages) {
        flex: 1 1 auto;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;    
    }
}

@include b(stages-rows) {
    display: flex;
    justify-content: space-between;    
    flex-direction: row;
    overflow: hidden;
    width: 100%;

    @include e(row) {
        width: 277px;
        height: 345px;
        background: #ffffff;

        @include m(numeral) {
            width: 20px;
            margin: 32px auto 20px;
            padding: 10px 15px;
            font-size: 24px;
            text-align: center;
            color: #7E92B8;
            border: 1px solid #DAE4F8;
            border-radius: 100%;
        }
    
        @include m(text) {
            height: auto;
            margin-left: 24px;
            font-size: 12px;
            line-height: 157%;
            white-space: pre-line;
        }
        @include m(title) {
            margin: 0;
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
            line-height: 0;
        }

    }
}
