@include respond-to(landscape) {
    @include b(section4-gm) {
        width: auto;
        margin: 0 60px;
        padding: 0;
        @include e(text) {
            width: auto;
            margin: auto 60px;
            @include m(item1) {
                font-size: 35px;
                color: #7E92B8;
            }
            @include m(item2) {
                font-size: 30px;
                white-space: normal;
                margin-bottom: 30px;
            }
        }
        @include e(img) {
            height: 350px;
            @include m(left) {
                img {
                    width: 680px;
                    height: 350px;
                }
                div {
                    margin-left: -600px;
                }
            }
            @include m(right) {
                width: 680px;
                height: 350px;
                img {
                    width: 680px;
                    height: 350px;
                }    
            }
        }
    }    
}//.landscape
@include respond-to(medium) {
    @include b(section4-gm) {
        margin: 0 40px;
        @include e(text) {
            margin: auto 40px;
            @include m(item1) {
                font-size: 28px;
            }
            @include m(item2) {
                font-size: 24px;
            }
        }
        @include e(img) {
            height: 280px;
            @include m(left) {
                width: 560px;
                height: 280px;
                img {
                    width: 560px;
                    height: 280px;
                }
                div {
                    margin-left: -300px;
                }
            }
            @include m(right) {
                width: 560px;
                height: 280px;
                img {
                    width: 560px;
                    height: 280px;
                }
            }    
        }
    }
}//.medium
@include respond-to(small) {
    @include b(section4-gm) {
        margin: 0 30px;
        @include e(text) {
            margin: auto 30px;
            @include m(item1) {
                font-size: 22px;
            }
            @include m(item2) {
                font-size: 19px;
                margin-bottom: 20px;
            }
        }
        @include e(img) {
            height: 220px;
            @include m(left) {
                width: 420px;
                height: 220px;
            img {
                    width: 420px;
                    height: 220px;
                }
            }
            @include m(right) {
                width: 420px;
                height: 220px;
                img {
                    width: 420px;
                    height: 220px;
                }    
            }
        }
    }
}//.small
@include respond-to(xsmall) {
    @include b(section4-gm) {
        margin: 0 16px;
        @include e(text) {
            margin: auto 16px;
            @include m(item1) {
                font-size: 16px;
            }
            @include m(item2) {
                font-size: 14px;
                margin-bottom: 16px;
            }
        }
        @include e(img) {
            height: 140px;
            @include m(left) {
                height: 140px;
                img {
                    width: 280px;
                    height: 140px;
                }
            }
            @include m(right) {
                width: 280px;
                height: 140px;
                img {
                    width: 280px;
                    height: 140px;
                }    
            }
        }
    }
}//.xsmall