@include b(section4-gm) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 0 auto;
    padding-bottom: 78px;
    background: #FFFFFF;
    @include e(text) {
        flex: 0 0 auto;
        width: 638px;
        margin-left: 76px;
        @include m(item1) {
            margin-bottom: 16px;
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
        }
        @include m(item2) {
            margin-bottom: 102px;
            font-size: 14px;
            line-height: 138.2%;
            white-space: pre-line;
        }
    }
    @include e(img) {
        position: relative;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        xtouch-action: none;
        height: 432px;
        margin: 0 auto;
        // background: url(../img/20.png) no-repeat 100% 100%;
        @include m(left) {
            position: absolute;
            left: 0;
            flex: 0 0 auto;
            z-index: 1;
            width: 50%;
            height: 432px;
            // overflow: hidden;
        }
        @include m(left-img) {
            overflow: hidden;
 
            img {
                height: 432px;
            }
        }
        @include m(right) {
            flex: 1 1 auto;
            width: 1150px;
            height: 432px;
            margin: 0 auto;
            background: url(../img/20.png) no-repeat 100% 100%;
            background-position: center;
            background-size: contain;
            img {
                width: 1150px;
                height: 432px;
            }
        }
        @include m(left-splitter) {
            display: inline-table;
            height: 38px;
            width: 38px;
            position: absolute;
            right: -22px;
            top: 50%;
            margin-left: -22px;
            margin-top: -22px;
            font-size: 24px;
            font-weight: bold;
            line-height: 40px;
            border: 3px solid #e1e1dd;
            border-radius: 1000px;
            z-index: 40;
            cursor: pointer;
            box-shadow: none;
            border-color: #7E92B8;
            color: #7E92B8;
            // margin-right: -600px;
            cursor: col-resize;  
            content: '<>';
            &::before {
                position: absolute;
                content: '';
                width: 3px;
                height: 500px;
                bottom: 100%;
                left: 50%;
                margin-left: -1.5px;
                background-color: #7E92B8;
            }
            &::after {
                position: absolute;
                content: '';
                width: 3px;
                height: 500px;
                top: 100%;
                left: 50%;
                background-color: #7E92B8;
                margin-left: -1.5px;
            }
        }
        @include m(arrow-left) {
            left: 0;
            top: 50%;
            margin-top: -6px;
            margin-left: 3px;
        }
        @include m(arrow-right) {
            top: 50%;
            right: 0x;
            margin-top: -6px;
        }
    }
}
@include respond-to(large) {
    @include b(section4-gm) {
        width: auto;
        margin: 0 145px;
        @include e(img) {
            @include m(left) {
                img {
                    width: 990px;
                }
            }
            @include m(right) {
                width: 990px;
                img {
                    width: 990px;
                }
            }    
        }
    }
}//.large
@include respond-to(desktop) {
    @include b(section4-gm) {
        width: auto;
        margin: 0 100px;
        @include e(img) {
            @include m(left) {
                img {
                    width: 825px;
                }
            }
            @include m(right) {
                width: 825px;
                img {
                    width: 825px;
                }
            }    
        }
    }
}//.desktop
@include respond-to(xxlarge) {
    @include b(section4-gm) {
        @include e(text) {
            width: 900px;
            @include m(item1) {
                font-size: 29px;
            }
            @include m(item2) {
                font-size: 17px;
            }
        }
    }
}//.xxlarge