@include b(section3) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 0 auto;
    background: #FFFFFF;

    @include e(text) {
        flex: 0 0 auto;
        width: 664px;
        margin-left: 76px;

        @include m(item1) {
            margin-top: 56px;
            margin-bottom: 16px;
            font-size: 24px;
            font-family: 'Gotham Pro Medium';
        }
        @include m(item2) {
            margin-bottom: 32px;
            font-size: 14px;
        }
    }
    @include e(img) {
        flex: 1 1 auto;

        @include m(img3) {
            width: 1150px;
            height: auto;
        }
    }
    
    
}