{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NN Design - Студия дизайна</title>
  <meta name="description" content="Брендинг, упаковка, логотип, веб-сайты. +7 (707) 300 33 33, nn.group19@gmail.com, NN Design Astana"/>
  <meta name="keywords" content=" NN Design Astana, брендинг, упаковка, логотип, веб-сайты, web-сайты, сайт, дизайн, дизайн упаковки товаров и продуктов, фирменный стиль, нейминг, SMM, СММ,"/>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <link rel="stylesheet" type="text/css" href="{{root}}assets/css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="{{root}}assets/css/slick-theme.css"/>
  <link rel="shortcut icon" href="assets/img/icon.png" type="image/png">
  <script src="https://kit.fontawesome.com/c9e7a7719e.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="{{root}}assets/js/resizable.js"></script>
  <script src="{{root}}assets/js/slick.min.js"></script>
</head>

<body>

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> body}}

  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>