<div class="footer">
    <div class="footer__container">
        <div class="footer__mail">
            <p class="footer__mail--title">Напишите нам:</p>
            <a href="#" class="footer__mail--elem">info@nn.kz</a>
        </div>
    </div>
    <div class="footer__line"></div>
    <div class="footer__container">
        <div class="footer__info">
            <div class="info">
                <div class="info__col info__col1">
                    <a href="#" class="info__col--title">NN Design</a>
                    <p class="info__col--text">г. Астана,
                        ул. Шамши Калдаякова
                        д.13, офис 3
                        8 (777) 444 33 22;
                        8 (7222) 54 23 23
                        info@nn.kz
                    </p>
                </div>
                <div class="info__col info__col2">
                    <p class="info__col--title">Услуги</p>
                    <a href="#" class="info__col--text">Брендинг и стиль</a>
                    <a href="#" class="info__col--text">Web-сайты и приложения</a>
                    <a href="#" class="info__col--text">Упаковка</a>
                    <a href="#" class="info__col--text">Социальные сети</a>
                </div>
            </div>
            <div class="footer__social">
                <a href="#" class="footer__social--icon"><i class="fab fa-behance"></i></a>
                <a href="#" class="footer__social--icon"><i class="fab fa-youtube"></i></a>
                <a href="#" class="footer__social--icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="footer__social--icon"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

    </div>
</div>
