<div class="mob-header-b">
    <div class="mob-header-b__container">
        <div class="mob-header-b__logo">
            <a href=".">
                <img src="assets/img/logo.png" alt="logo" class="mob-header-b__logo-src">
            </a>
        </div>
        <div class="mob-header-b__menu mob-header-b-menu">
            <button class="mob-header-b__menu-btn">
                <img src="assets/img/mob-menu-black.png" alt="menu" class="mob-header-b__menu-elem">
            </button>
            <ul class="mob-header-b__menu-child">
                    <li><a href="#" class="mob-header-b__menu-child--item">Главная</a></li>
                    <li><a href="#" class="mob-header-b__menu-child--item">Проекты</a></li>
                    <li><a href="#" class="mob-header-b__menu-child--item">Услуги</a></li>
            </ul>
        </div>
    </div>
</div>