<div class="mob-header-w">
        <div class="mob-header-w__container">
            <div class="mob-header-w__logo">
                <a href=".">
                    <img src="assets/img/logo-white.png" alt="logo" class="mob-header-w__logo-src">
                </a>
            </div>
            <div class="mob-header-w__menu mob-header-w-menu">
                <button class="mob-header-w__menu-btn">
                    <img src="assets/img/mob-menu-white.png" alt="menu" class="mob-header-w__menu-elem">
                </button>
                <ul class="mob-header-w__menu-child">
                        <li><a href="#" class="mob-header-w__menu-child--item">Главная</a></li>
                        <li><a href="#" class="mob-header-w__menu-child--item">Проекты</a></li>
                        <li><a href="#" class="mob-header-w__menu-child--item">Услуги</a></li>
                </ul>
            </div>
        </div>
    </div>