<div class="right-panel-main">
    <a href="#" class="right-panel-main__icon">
        <i class="fab fa-behance"></i>
    </a>
    <a href="#" class="right-panel-main__icon">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="#" class="right-panel-main__icon">
        <i class="fab fa-instagram"></i>
    </a>
        
    <a href="#" class="right-panel-main__icon">
        <i class="fab fa-twitter"></i>
    </a>
        
    <div class="right-panel-main__divider"></div>
</div>
    
    
    
    
    
    