<div class="section6 color">
    <div class="section6__container">
        <div class="section6__title">
            <p class="section6__title--item1"><a id="call"> </a>Cвяжитесь с нами<p>
                    <p class="section6__title--item2">Контактные данные:</p>
        </div>

        <div class="section6__form">
            <form action="/mail.php" method="POST">
                <input type="text" name="user_name" placeholder="Ваше Имя" class="section6__form--elem section6__form--elem1">  
                <input type="tel" name="user_phone" placeholder="Номер телефона" class="section6__form--elem section6__form--elem2">
                <input type="email" name="user_email" placeholder="E-mail" class="section6__form--elem section6__form--elem3">
                <input type="text" name="user_comment" placeholder="Комментарий" class="section6__form--elem section6__form--elem4">
                <button type="submit" class="section6__form--button">Отправить</button>
            </form>
        </div>
    </div>
</div>