@include b(section3-pack) {
    @include flex;
    @include flex-direction(column);
    width: 1150px;
    margin: 0 auto 56px auto;
    background: #ffffff;
    @include e(title) {
        flex: 0 0 auto;
        margin-bottom: 56px;
        padding-top: 48px;
        padding-left: 48px;
        font-size: 24px;
        font-family: 'Gotham Pro Medium';
        line-height: 1em;
    }
    @include e(diagram) {
        flex: 1 1 auto;
        width: 100%;
        height: 372px;
        font-size: 12px;
        font-family: 'Gotham Pro Medium';
    }
    @include e(mob-diagram) {
        display: none;
    }
}
@include respond-to(large) {
    @include b(section3-pack) {
        width: calc(100% - 290px);
        margin: 0 145px 56px;
    }
}//.large
@include respond-to(desktop) {
    @include b(section3-pack) {
        width: calc(100% - 200px);
        margin: 0 100px 56px;
    }
}//.desktop

@include respond-to(xxlarge) {
    @include b(section3-pack) {
        @include e(title) {
            font-size: 29px;
        }
        @include e(diagram) {
            font-size: 14px;
        }
    }
}//.xxlarge